@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*{
    margin: 0%;
    padding: 0%;
    border: none;
}
body{
    font-family: sans-serif;
    color: black;
    background-color:whitesmoke;
}

#logo {
   height: 100px;
   width: 200px;
   margin-left: 20px;
   border: 10px;
}

h1,h2{
    font-size: 180%;
    font-family:geneva;
    padding-top: 10px;
    letter-spacing:8px;
    color: rgb(0, 0, 0);
    text-align: center;
}

/* navigation links*/

#menu {
    font-weight: 110%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    word-spacing: 20px;
    background-color:white;
    padding: 10px;

    
}
#menu li{
    text-align:center;
    display: inline-flex;
    margin-right: 30px;
    font-family: sans-serif;
}

#menu a{
    text-decoration: none;
    color:black;
}
#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

#link{
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    color:#b8860b;
    padding-left: 1200px;
    padding-top: 10px;

}
.active {
    border-bottom: 1px solid #3a3a3a;
}

#menu2{
    font-weight: 110%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    word-spacing: 20px;
    background-color:black;
    padding: 10px;

}
#menu2 li{
    text-align:center;
    display: inline-flex;
    margin-right: 30px;
    font-family: sans-serif;
}
#menu2 a {
    text-decoration: none;
    color: white;
}

#menu2 a:hover{
    border-bottom: 1px solid rgb(255, 255, 255);
}
.active {
    border-bottom: 1px solid #3a3a3a;
}

/*main image1*/


#cover-text1, #cover-text1 h2 {
    color: black;
    padding-right: 60%;
    padding-bottom: 20%;
    display:flexbox;
    border-radius:50px;

    

}

#main-image1{
    height: 600px;
    width: 100%;
    background: url('../assests/IMAGES/Dubai-Mall_2018_Dubai-Mall_GettyImages-520302504-copy.webp')no-repeat center center;
}

#cover-text1, #cover-text1 h3{
    white-space: nowrap;
    text-overflow: clip;
    color:black;
}



#cover-text1 {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;

    width: 300px;
    height: 30px;
    bottom: 50px;
    right: 100px;

    position:absolute;
}

#middle-section{
    height:50px;
    

}

#left-about {
    background: url('../assests/IMAGES/gettyimage\ 1\ .jpeg')no-repeat;
    height: 10%;
    width: 50%;
   padding-top: 30%;
    margin-top: 10px;
    float: left;
}
#right-about h1{
    font-size: small;
    letter-spacing: 1px;
    padding-right: 15%;
    padding-top: 40px;
}
#right-about h2{
    line-height: 50px;
    font-size:xxx-large;
    font-family: Romain BP Headline Regular ,serif;
    padding-right: 15%;
    padding-top: 30px;
}
#right-about h3{
    font-size: smaller;
    padding-top: 50px;
    padding-right: 15%;

}

#right-about{
    width:50%;
    float:right;
    padding-top: 10px;
    text-align: center;

}
.button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 10px;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    margin-left: 240px;
    margin-top: 50px;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    text-align: center;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .button:active {
    scale: 1;
  }
  


  
  
  