@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*{
    margin: 0%;
    padding: 0%;
    border: none;
}
body{
    font-family: sans-serif;
    color: black;
    background-color:white;
}

#logo {
   height: 100px;
   width: 200px;
   margin-left: 20px;
   border: 10%;
   
    
}

h1,h2{
    font-size: 180%;
    font-family:geneva;
    padding-top: 10px;
    letter-spacing:8px;
    color: rgb(0, 0, 0);
    text-align: center;
}

/* navigation links*/

#menu {
    font-weight: 110%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    word-spacing: 20px;
    background-color:whitesmoke;
    padding: 10px;

    
}
#menu li{
    text-align:center;
    display: inline-flex;
    margin-right: 30px;
    font-family: sans-serif;
}

#menu a{
    text-decoration: none;
    color:black;
}
#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#menu2{
    font-weight: 110%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    word-spacing: 20px;
    background-color:black;
    padding: 10px;

}
#menu2 li{
    text-align:center;
    display: inline-flex;
    margin-right: 30px;
    font-family: sans-serif;
}
#menu2 a {
    text-decoration: none;
    color: white;
}

#menu2 a:hover{
    border-bottom: 1px solid rgb(255, 255, 255);
}
.active {
    border-bottom: 1px solid #3a3a3a;
}

/*main image1*/


#cover-text1, #cover-text1 h2 {
    color: black;
    padding-right: 60%;
    padding-bottom: 20%;
    display:flexbox;

}

#main-image1{
    height: 600px;
    width: 100%;
    background: url('../assests/IMAGES/Dubai-Mall_2018_Dubai-Mall_Getty.webp')no-repeat center center;
}

#cover-text1, #cover-text1 h3{
    white-space: nowrap;
    text-overflow: clip;
    color:black;
}



#cover-text1 {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;

    width: 300px;
    height: 30px;
    bottom: 50px;
    right: 100px;

    position:absolute;
}

#middle-section{
    height:50px;
    

}

#left-about {
    background: url('../assests/gettyimage\ 1\ .jpeg')no-repeat;
    height: 10%;
    width: 50%;
   padding-top: 30%;
    margin-top: 10px;
    float: left;
}
#right-about h1{
    font-size: small;
    letter-spacing: 1px;
}
#right-about h2{
    line-height: 50px;
    font-family: Romain BP Headline Regular ,serif;
}
#right-about{
    width:50%;
    float:right;
    padding-top: 10px;
    text-align: center;

}